section{
	#hometop{
		padding: 0 2rem;
		overflow: hidden;
		margin: 0 auto;
        box-shadow: 0 0 100rem #333a41 inset;
		background: rgb(125,126,125);
        background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
        background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
        background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
		.container{
			color: #fff;
			text-align: justify;
			height: auto;
			height: calc(100vh - 96px);
			@include rwd(xxs){ text-align: center; }
		}
		.logo {
			@include rwd(lg){ margin-top: 15vh; }
			
			margin: 5vh 0 0;
			> span {
				font-size: 24px;
			}
		}
		.userpic {
			border-radius: 100rem;
			border: 3px solid rgba(139, 154, 169, 0);
			box-shadow: 0 0 10rem rgba(255, 255, 255, .5);
			
			+ span{
				margin-right: 1rem;
			}
		}
	}
}

.category{
	
	&-javascript{
		background: $color_js !important;
	}
	
	&-angular{
		background: $color_ng !important;
	}
	
}